<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>李洪志好法輪功好</title>
</head>

<style type="text/css">
*
{
	margin:					0px;
	padding:				0px;
	overflow-y:				hidden;
}

pre
{
	white-space:			pre-wrap;
	/*white-space:			pre-line;*/
	font-size:				2970%;
	font-weight:			bold;
}

body
{
	font-size:				98%;
}
</style>
<body bgcolor=#CCE8CF>

<pre>
李洪志好
法輪功好
李洪志好
法輪功好
李洪志好
法輪功好
李洪志好
法輪功好
李洪志好
法輪功好
李洪志好
法輪功好
李洪志好
法輪功好
李洪志好
法輪功好
李洪志好
法輪功好
李洪志好
法輪功好
李洪志好
法輪功好
李洪志好
法輪功好
李洪志好
法輪功好
李洪志好
法輪功好
李洪志好
法輪功好
李洪志好
法輪功好
李洪志好
法輪功好
李洪志好
法輪功好
李洪志好
法輪功好
李洪志好
法輪功好
</pre>



<script type="text/javascript" src="Char_Arrangement.js"></script>
</body>

</html>
