<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>大法文字阵列</title>
</head>

<style type="text/css">
*
{
	margin:					0px;
	padding:				0px;
	overflow-y:				hidden;
}

pre
{
	white-space:			pre-wrap;
	/*white-space:			pre-line;*/
	/*font-size:			2970%;*/
	font-size:				100%;
	font-weight:			bold;
}

body
{
	font-size:				98%;
}
</style>
<body bgcolor=#CCE8CF>

<pre>
大法文字阵列，大法艺术文字：

<a href="1X1_李洪志好法輪功好.html"					target=_blank>1X1_李洪志好法輪功好.html</a>
<a href="1X1_李洪志好真善忍好.html"					target=_blank>1X1_李洪志好真善忍好.html</a>
<a href="1X1_法輪功好真善忍好.html"					target=_blank>1X1_法輪功好真善忍好.html</a>
<a href="1X1_李洪志好法輪大法.html"					target=_blank>1X1_李洪志好法輪大法.html</a>
<a href="1X1_法輪大法真善忍好.html"					target=_blank>1X1_法輪大法真善忍好.html</a>
<a href="1X3_李洪志法輪功.html"						target=_blank>1X3_李洪志法輪功.html</a>
<a href="1X3_李洪志真善忍.html"						target=_blank>1X3_李洪志真善忍.html</a>
<a href="1X3_法輪功真善忍.html"						target=_blank>1X3_法輪功真善忍.html</a>

<a href="NXN_Text.html"								target=_blank>NXN_Text.html</a>
<a href="NXN_Text_00.html"							target=_blank>NXN_Text_00.html</a>
<a href="NXN_Text_01.html"							target=_blank>NXN_Text_01.html</a>
<a href="NXN_Text_02.html"							target=_blank>NXN_Text_02.html</a>
<a href="NXN_李洪志法輪功真善忍好.html"				target=_blank>NXN_李洪志法輪功真善忍好.html</a>
<a href="NXN_李洪志法輪大法真善忍好.html"			target=_blank>NXN_李洪志法輪大法真善忍好.html</a>
<a href="NXN_李洪志法輪功法輪大法真善忍好.html"		target=_blank>NXN_李洪志法輪功法輪大法真善忍好.html</a>

<a href="Photo_X3.html"					target=_blank>Photo_X3</a>
</pre>



<script type="text/javascript">
</script>
<script type="text/javascript" src="Char_Arrangement.js"></script>
<script type="text/javascript" src="../Char_Arrangement.js"></script>
<script type="text/javascript" src="../../Char_Arrangement.js"></script>
<script type="text/javascript" src="../../../Char_Arrangement.js"></script>
<script type="text/javascript" src="../../../../Char_Arrangement.js"></script>
<script type="text/javascript" src="../../../../../Char_Arrangement.js"></script>
<script type="text/javascript" src="../../../../../../Char_Arrangement.js"></script>
<script type="text/javascript" src="../../../../../../../Char_Arrangement.js"></script>
<script type="text/javascript" src="../../../../../../../../Char_Arrangement.js"></script>
<script type="text/javascript" src="../../../../../../../../../Char_Arrangement.js"></script>

</body>

</html>
