<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<style type="text/css">
*
{
	margin:					0px;
	padding:				0px;
}

img
{
	height:					100%;
}
/*
div
{
	text-align:				center;
}
*/
</style>
<title>Photo_View</title>
</head>

<body bgcolor=#CCE8CF>
<pre>
「李洪志」「的照片」：
<a href="master_Li_high.jpg" target=_blank>Photo_View_ORI</a>
<a href="master_Li_high_R90.jpg" target=_blank>Photo_View_R90</a>
<a href="master_Li_high_R180.jpg" target=_blank>Photo_View_R180</a>
<a href="master_Li_high_R270.jpg" target=_blank>Photo_View_R270</a>

「李洪志」「的照片」「有」「李洪志」「能量」
「李洪志」「的照片」「有」「真、善、忍法力」
「李洪志」「的照片」「有」「法輪功」「功力」

【每天都时不时，用电脑屏幕，用10分钟来近距离欣赏】：「李洪志」「的照片」，
【可以使人心清醒。很安全。】
按：
Ctrl & +	放大
Ctrl & -	缩小
Ctrl & 0	恢复原尺寸
F11			全屏

来源：
https://falundafa.org/images/master_Li_high.zip
https://gb.falundafa.org/photo.html


</pre>
</body>

</html>
