<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<style type="text/css">
*
{
	margin:					0px;
	padding:				0px;
}

img
{
	height:					100%;
}
/*
div
{
	text-align:				center;
}
*/

table.Photo_View_Table																{}
table.Photo_View_Table td															{vertical-align:top;}
table.Photo_View_Table table.Photo_View_TextArea_Table								{}
table.Photo_View_Table table.Photo_View_TextArea_Table input						{height:23px;}
table.Photo_View_Table table.Photo_View_TextArea_Table textarea.TextArea_CLS		{width:640px;height:320px;}

</style>
<title>Photo_View</title>
</head>

<body bgcolor=#CCE8CF>
<script type="text/javascript">
//==================================================Base_Function==================================================
function Parameter_Base_STR_ijk_XX(p_num)
{
	var i,j,str00,arr00;
	str00="";
	str00+="var i,j,k,m,n,p,q,r,s,t;" + "\n";
	arr00=["num","ele","elel","str","arr","cls","fun","formData","file"];
	//arr00=["num","ele","elel",,"str","arr","torf","flag"];

	for (i=0;i<arr00.length;i++)
	{
		str00+="var ";
		for (j=0;j<p_num;j++)
		{
			str00+=arr00[i] + ("00" + j.toString()).slice(-2);
			if ( j<(p_num - 1) )			{str00+=",";}
			else if ( j==(p_num - 1) )		{str00+=";" + "\n";}
			else							{}
		}
	}

	return str00;
}

function TIME_NOW(sep)//separator：分隔符號。
{
	var today=new Date();
	time="";
	time+=today.getFullYear() + sep;
	time+=("0"+parseInt(today.getMonth()+1,10)).slice(-2) + sep;
	time+=("0"+today.getDate()).slice(-2) + sep;
	time+=today.getDay() + sep;//day of the week
	time+=("0"+today.getHours()).slice(-2) + ':';
	time+=("0"+today.getMinutes()).slice(-2) + ':';
	time+=("0"+today.getSeconds()).slice(-2) + '.';
	time+=("0"+today.getMilliseconds()).slice(-3);
	return time;
}

String.prototype.repeat = function( num )
{
	return new Array( num + 1 ).join( this );
};
//==================================================Base_Function==================================================
//==================================================Pre_Definition==================================================
function ELE_ELEL_STR_INI()
{
	//==============================ELE_ELEL_STR_INI.Begin==============================
	//==========DIVISION==========
	var ele_Photo_View_Table				=document.getElementsByClassName("Photo_View_Table")[0];
	var ele_Photo_View_TextArea_Table		=ele_Photo_View_Table.getElementsByClassName("Photo_View_TextArea_Table")[0];
	//==========DIVISION==========
	var ele_Photo_View_TextArea_Table_CLS	=
	{
		TextArea_CLS						:	ele_Photo_View_TextArea_Table.getElementsByClassName("TextArea_CLS")[0],
		Normal_Go_CLS						:	ele_Photo_View_TextArea_Table.getElementsByClassName("Normal_Go_CLS")[0],
		ST_Go_CLS							:	ele_Photo_View_TextArea_Table.getElementsByClassName("ST_Go_CLS")[0],
		ST_Time_VAL_CLS						:	ele_Photo_View_TextArea_Table.getElementsByClassName("ST_Time_VAL_CLS")[0],
		URL_SUP_Random_CLS					:	ele_Photo_View_TextArea_Table.getElementsByClassName("URL_SUP_Random_CLS")[0],
		URL_SUP_Date_CLS					:	ele_Photo_View_TextArea_Table.getElementsByClassName("URL_SUP_Date_CLS")[0],
		URL_SEL_HTML_CLS					:	ele_Photo_View_TextArea_Table.getElementsByClassName("URL_SEL_HTML_CLS")[0],
		URL_SEL_R000_CLS					:	ele_Photo_View_TextArea_Table.getElementsByClassName("URL_SEL_R000_CLS")[0],
		URL_SEL_R090_CLS					:	ele_Photo_View_TextArea_Table.getElementsByClassName("URL_SEL_R090_CLS")[0],
		URL_SEL_R180_CLS					:	ele_Photo_View_TextArea_Table.getElementsByClassName("URL_SEL_R180_CLS")[0],
		URL_SEL_R270_CLS					:	ele_Photo_View_TextArea_Table.getElementsByClassName("URL_SEL_R270_CLS")[0],
		URL_SEL_ALL_CLS						:	ele_Photo_View_TextArea_Table.getElementsByClassName("URL_SEL_ALL_CLS")[0],
		Single_Multi_Line_CLS				:	ele_Photo_View_TextArea_Table.getElementsByClassName("Single_Multi_Line_CLS")[0],
		Close_ALL_Window_CLS				:	ele_Photo_View_TextArea_Table.getElementsByClassName("Close_ALL_Window_CLS")[0]
	};
	//	ele_Photo_View_TextArea_Table_CLS.TextArea_CLS;
	//	ele_Photo_View_TextArea_Table_CLS.Normal_Go_CLS;
	//	ele_Photo_View_TextArea_Table_CLS.ST_Go_CLS;
	//	ele_Photo_View_TextArea_Table_CLS.URL_SEL_HTML_CLS;
	//	ele_Photo_View_TextArea_Table_CLS.URL_SEL_R000_CLS;
	//	ele_Photo_View_TextArea_Table_CLS.URL_SEL_R090_CLS;
	//	ele_Photo_View_TextArea_Table_CLS.URL_SEL_R180_CLS;
	//	ele_Photo_View_TextArea_Table_CLS.URL_SEL_R270_CLS;
	//	ele_Photo_View_TextArea_Table_CLS.URL_SEL_ALL_CLS;
	//	ele_Photo_View_TextArea_Table_CLS.Single_Multi_Line_CLS;
	//==========DIVISION==========
	//==============================ELE_ELEL_STR_INI.End==============================
	//==========DIVISION==========
	var fun_ct_cache;
	fun_ct_cache=arguments.callee;
	var str00;
	str00=fun_ct_cache.toString()
	//Use 0.104 s .//.replace(new RegExp("^[\\s\\S]+\\r\\n\\t+(\\/\\/=+BC_Code_Almost_Same_Area\\(\\\"" + 
	//Use 0.003 s .//.replace(new RegExp("^function[ ]*[\\s\\S]+\\r\\n\\t+(\\/\\/=+BC_Code_Almost_Same_Area\\(\\\"" + 
	//Use 0.001-0.002 s .//
	.replace(new RegExp("^function[ ]*" + fun_ct_cache.name + "\\(\\)\\n[\\t]*\\{\\n([\\t]*\\/\\/=+" + fun_ct_cache.name + "\.Begin)","gm"),"$1")
	.replace(new RegExp("(\\/\\/=+" + fun_ct_cache.name + "\.End=+\\n)[\\s\\S]*$","gm"),"$1")
	.replace(/(\n)[\t]{1}/gm,"$1");
	return str00;
	//==========DIVISION==========
}
//==================================================Pre_Definition==================================================
//==================================================Photo_View_Table==================================================
var TextArea_CT_CLS;
TextArea_CT_CLS				=
{
	Base_URL				:
	[
		"https://cn-text.github.io/view/Photo_View.html?",
		"https://cn-text.github.io/view/master_Li_high.jpg?",
		"https://cn-text.github.io/view/master_Li_high_R90.jpg?",
		"https://cn-text.github.io/view/master_Li_high_R180.jpg?",
		"https://cn-text.github.io/view/master_Li_high_R270.jpg?",
	],
	VAL						:
	{
		ST_Time_VAL			:	300*1000,
		URL_SUP_Random		:	1,//0:"Not_Use";1:"Inuse";
		URL_SUP_Date		:	0,//0:"Not_Use";1:"Inuse";
		URL_SEL_HTML		:	0,//0:"Not_Use";1:"Inuse";
		URL_SEL_R000		:	1,//0:"Not_Use";1:"Inuse";
		URL_SEL_R090		:	0,//0:"Not_Use";1:"Inuse";
		URL_SEL_R180		:	0,//0:"Not_Use";1:"Inuse";
		URL_SEL_R270		:	0,//0:"Not_Use";1:"Inuse";
		URL_SEL_ALL			:	0,//0:"Not_Use";1:"Inuse";
		Single_Multi_Line	:	0,//0:"S";1:"M";//0:"Single_Line";1:"Multi_Line";
		Window_ARR			:	[],
	},
};

function Photo_View_TextArea_Table_INI()
{
	//==========DIVISION==========
	eval(Parameter_Base_STR_ijk_XX(5));
	eval(ELE_ELEL_STR_INI());
	var ID,LEN;
	//==========DIVISION==========
	ele_Photo_View_TextArea_Table_CLS.TextArea_CLS.value='"李洪志真善忍法輪功好"';
	ele_Photo_View_TextArea_Table_CLS.Normal_Go_CLS.style.backgroundColor="#1EB0E9";
	ele_Photo_View_TextArea_Table_CLS.ST_Go_CLS.style.backgroundColor="#1EB0E9";
	ele_Photo_View_TextArea_Table_CLS.ST_Time_VAL_CLS.value=TextArea_CT_CLS.VAL.ST_Time_VAL;
	ele_Photo_View_TextArea_Table_CLS.URL_SUP_Random_CLS.style.backgroundColor="#1EB0E9";
	ele_Photo_View_TextArea_Table_CLS.URL_SUP_Date_CLS.style.backgroundColor="red";
	ele_Photo_View_TextArea_Table_CLS.URL_SEL_HTML_CLS.style.backgroundColor="red";
	ele_Photo_View_TextArea_Table_CLS.URL_SEL_R000_CLS.style.backgroundColor="#1EB0E9";
	ele_Photo_View_TextArea_Table_CLS.URL_SEL_R090_CLS.style.backgroundColor="red";
	ele_Photo_View_TextArea_Table_CLS.URL_SEL_R180_CLS.style.backgroundColor="red";
	ele_Photo_View_TextArea_Table_CLS.URL_SEL_R270_CLS.style.backgroundColor="red";
	ele_Photo_View_TextArea_Table_CLS.URL_SEL_ALL_CLS.style.backgroundColor="red";
	ele_Photo_View_TextArea_Table_CLS.Single_Multi_Line_CLS.value="S";
	ele_Photo_View_TextArea_Table_CLS.Single_Multi_Line_CLS.style.backgroundColor="yellow";
	ele_Photo_View_TextArea_Table_CLS.Close_ALL_Window_CLS.style.backgroundColor="#1EB0E9";
	TextArea_CT_CLS.VAL.Window_ARR=[];
	//==========DIVISION==========
	//==========DIVISION==========
	//==========DIVISION==========
	//==========DIVISION==========
	//==========DIVISION==========
	//==========DIVISION==========
}
//==================================================Photo_View_Table==================================================
//==================================================控件動作變化==================================================
function TEXT_ATTRIBUTION(ele,evt,n)
{
	eval(Parameter_Base_STR_ijk_XX(10));
	eval(ELE_ELEL_STR_INI());

	//console___log("function now is : TEXT_ATTRIBUTION(ele,evt,n)");

	//IE7 : evt.srcElement ;Other : evt.target;
	var evt_target = evt.target ? evt.target : evt.srcElement;
	//alert(evt_target.tagName);

	var X_ID,Y_ID;
	var X_BID,X_EID;
	var Y_BID,Y_EID;

	var ele_disabled;
	if ( n==0 )//鼠標移入。
	{
		//evt_target.disabled=false;
		evt_target.focus();//設置焦點。
		if ( ele.className=="Photo_View_Table" && ( evt_target.tagName.toUpperCase()=="INPUT" || evt_target.tagName.toUpperCase()=="TEXTAREA" ) )
		{
			evt_target.select();//選中全文。
		}
		else		{}
		//evt_target.disabled=true;
	}
	else if ( n==1 )//鼠標移出。
	{
		//ele.blur();//失去焦點。
	}
	else if ( n==2 )//更改了文本框的內容。
	{
		if ( ele.className=="Photo_View_Table" && evt_target.className=="ST_Time_VAL_CLS" )
		{
			if ( evt_target.value!="" && !isNaN(evt_target.value) && ( evt_target.value.replace(/[0-9]+/gm,"")=="" ) )
			{
				TextArea_CT_CLS.VAL.ST_Time_VAL=evt_target.value;
			}
			else
			{
				alert("Error , it must be setted to a number .");
				evt_target.focus();
				evt_target.value=TextArea_CT_CLS.VAL.ST_Time_VAL;
			}
			
		}
		else		{}
	}
	else if ( n==3 )//點擊了按鈕。
	{
	}
	else
	{
	}
}

function Photo_View_Plus_Word(ele,evt,n)
{
	//==========DIVISION==========
	eval(Parameter_Base_STR_ijk_XX(5));
	eval(ELE_ELEL_STR_INI());
	var ID,LEN;
	//==========DIVISION==========
	//IE7 : evt.srcElement ;Other : evt.target;
	var evt_target = evt.target ? evt.target : evt.srcElement;
	//alert(evt_target.tagName);
	//==========DIVISION==========
	var ele_disabled;
	if ( n==0 )//鼠標移入。
	{
	}
	else if ( n==1 )//鼠標移出。
	{
	}
	else if ( n==2 )//更改了文本框的內容。
	{
	}
	else if ( n==3 )//點擊了按鈕。
	{
		if ( ele.className=="Photo_View_TextArea_Table" && evt_target.className=="Normal_Go_CLS" )
		{
			//==========DIVISION==========
			arr00=[0,0,0,0,0,0,0];
			//0:"Not_Use";1:"Inuse";
			if ( TextArea_CT_CLS.VAL.URL_SEL_ALL==0 )
			{
				arr00=[
					TextArea_CT_CLS.VAL.URL_SUP_Random,
					TextArea_CT_CLS.VAL.URL_SUP_Date,
					TextArea_CT_CLS.VAL.URL_SEL_HTML,
					TextArea_CT_CLS.VAL.URL_SEL_R000,
					TextArea_CT_CLS.VAL.URL_SEL_R090,
					TextArea_CT_CLS.VAL.URL_SEL_R180,
					TextArea_CT_CLS.VAL.URL_SEL_R270
				];
			}
			else if ( TextArea_CT_CLS.VAL.URL_SEL_ALL==1 )
			{
				arr00=[1,1,1,1,1,1,1];
			}
			else		{}
			//"https://cn-text.github.io/view/Photo_View.html?",
			//"https://cn-text.github.io/view/master_Li_high.jpg?",
			//"https://cn-text.github.io/view/master_Li_high_R90.jpg?",
			//"https://cn-text.github.io/view/master_Li_high_R180.jpg?",
			//"https://cn-text.github.io/view/master_Li_high_R270.jpg?",
			arr01=[];//URL;
			var offset=2;
			for (i=offset;i<arr00.length;i++)
			{
				if ( arr00[i]==0 )			{continue;}
				else if ( arr00[i]==1 )
				{
					ID=i - offset;
					arr01.push(TextArea_CT_CLS.Base_URL[ID]);
				}
				else						{}
			}
			//==========DIVISION==========
			arr02=["",""];
			if ( arr00[0]==1 )			{arr02[0]=Math.random().toString() + "&";}
			if ( arr00[1]==1 )			{arr02[1]=TIME_NOW("-") + "&";}
			//==========DIVISION==========
			arr03=[];//CT;
			//0:"S";1:"M";//0:"Single_Line";1:"Multi_Line";
			if ( TextArea_CT_CLS.VAL.Single_Multi_Line=="0" )
			{
				str00=ele_Photo_View_TextArea_Table_CLS.TextArea_CLS.value;
				arr03=str00.split("\n");
				for (i=0;i<arr03.length;i++)
				{
					if ( arr03[i]=="" )			{arr03.splice(i,1);}
				}
			}
			else if ( TextArea_CT_CLS.VAL.Single_Multi_Line=="1" )
			{
				str00=ele_Photo_View_TextArea_Table_CLS.TextArea_CLS.value;
				arr03=[str00];
			}
			else		{}
			//==========DIVISION==========
			for (i=0;i<arr01.length;i++)
			{
				for (j=0;j<arr03.length;j++)
				{
					TextArea_CT_CLS.VAL.Window_ARR.push(window.open(arr01[i] + arr02[0] + arr02[1] + arr03[j]));
					console.log(arr01[i] + arr02[0] + arr02[1] + arr03[j]);
				}
			}
			//==========DIVISION==========
		}
		else if ( ele.className=="Photo_View_TextArea_Table" && evt_target.className=="ST_Go_CLS" )
		{
			//==========DIVISION==========
			//ele_Photo_View_TextArea_Table_CLS.ST_Time_VAL_CLS.value=TextArea_CT_CLS.VAL.ST_Time_VAL=15*60*1000;
			//==========DIVISION==========
			LEN=TextArea_CT_CLS.VAL.Window_ARR.length;
			for (ID=0;ID<LEN;ID++)		{TextArea_CT_CLS.VAL.Window_ARR[ID].close();}
			TextArea_CT_CLS.VAL.Window_ARR=[];
			//==========DIVISION==========
			ele_Photo_View_TextArea_Table_CLS.Normal_Go_CLS.click();
			console.log("TIME_NOW : " + TIME_NOW("-") + ";\t" + "ST_Time_VAL : " + TextArea_CT_CLS.VAL.ST_Time_VAL + ";\t");
			//==========DIVISION==========
			setTimeout(function()
			{
				ele_Photo_View_TextArea_Table_CLS.ST_Go_CLS.click();
			},TextArea_CT_CLS.VAL.ST_Time_VAL);
			//==========DIVISION==========
		}
		else if ( ele.className=="Photo_View_TextArea_Table" && 
				( evt_target.className=="URL_SUP_Random_CLS" || evt_target.className=="URL_SUP_Date_CLS" || 
				evt_target.className=="URL_SEL_HTML_CLS" || evt_target.className=="URL_SEL_R000_CLS" || evt_target.className=="URL_SEL_R090_CLS" || 
				evt_target.className=="URL_SEL_R180_CLS" || evt_target.className=="URL_SEL_R270_CLS" || evt_target.className=="URL_SEL_ALL_CLS" || 
				evt_target.className=="Single_Multi_Line_CLS" || 
				0 ) )
		{
			//	TextArea_CT_CLS.VAL.URL_SUP_Random		;
			//	TextArea_CT_CLS.VAL.URL_SUP_Date		;
			//	TextArea_CT_CLS.VAL.URL_SEL_HTML		;
			//	TextArea_CT_CLS.VAL.URL_SEL_R000		;
			//	TextArea_CT_CLS.VAL.URL_SEL_R090		;
			//	TextArea_CT_CLS.VAL.URL_SEL_R180		;
			//	TextArea_CT_CLS.VAL.URL_SEL_R270		;
			//	TextArea_CT_CLS.VAL.URL_SEL_ALL			;
			//	TextArea_CT_CLS.VAL.Single_Multi_Line	;
			//
			//	ele_Photo_View_TextArea_Table_CLS.VAL.URL_SUP_Random	;
			//	ele_Photo_View_TextArea_Table_CLS.VAL.URL_SUP_Date		;
			//	ele_Photo_View_TextArea_Table_CLS.URL_SEL_HTML_CLS		;
			//	ele_Photo_View_TextArea_Table_CLS.URL_SEL_R000_CLS		;
			//	ele_Photo_View_TextArea_Table_CLS.URL_SEL_R090_CLS		;
			//	ele_Photo_View_TextArea_Table_CLS.URL_SEL_R180_CLS		;
			//	ele_Photo_View_TextArea_Table_CLS.URL_SEL_R270_CLS		;
			//	ele_Photo_View_TextArea_Table_CLS.URL_SEL_ALL_CLS		;
			//	ele_Photo_View_TextArea_Table_CLS.Single_Multi_Line_CLS	;

			str00="num00=TextArea_CT_CLS.VAL." + evt_target.className.replace(/^(.+)_CLS$/gm,"$1") + ";";
			eval(str00);
			num00=(num00 + 1)%2;
			str00="TextArea_CT_CLS.VAL." + evt_target.className.replace(/^(.+)_CLS$/gm,"$1") + "=num00;";
			eval(str00);

			if ( evt_target.className=="URL_SUP_Random_CLS" || evt_target.className=="URL_SUP_Date_CLS" || 
				evt_target.className=="URL_SEL_HTML_CLS" || evt_target.className=="URL_SEL_R000_CLS" || evt_target.className=="URL_SEL_R090_CLS" || 
				evt_target.className=="URL_SEL_R180_CLS" || evt_target.className=="URL_SEL_R270_CLS" || evt_target.className=="URL_SEL_ALL_CLS" || 
				0 )
			{
				if ( num00==0 )
				{
					evt_target.style.backgroundColor="red";
				}
				else if ( num00==1 )
				{
					evt_target.style.backgroundColor="#1EB0E9";
				}
				else		{}
			}
			else if ( evt_target.className=="Single_Multi_Line_CLS" )
			{
				if ( num00==0 )
				{
					evt_target.value="S";evt_target.style.backgroundColor="yellow";
				}
				else if ( num00==1 )
				{
					evt_target.value="M";evt_target.style.backgroundColor="orange";
				}
				else		{}
			}
			else		{}
			console.log(TextArea_CT_CLS.VAL);
		}
		else if ( ele.className=="Photo_View_TextArea_Table" && evt_target.className=="Close_ALL_Window_CLS" )
		{
			for (ID=0;ID<TextArea_CT_CLS.VAL.Window_ARR.length;ID++)
			{
				window.close(TextArea_CT_CLS.VAL.Window_ARR[ID]);
			}
			TextArea_CT_CLS.VAL.Window_ARR=[];
		}
		else		{}
	}
	else
	{
	}
	//==========DIVISION==========
}
//==================================================控件動作變化==================================================
</script>

<table class="Photo_View_Table" borderColor=#000000 cellSpacing=0 cellPadding=0 border=1 style="border-collapse:collapse;border-style:solid;border-width:1px;border-color:black;" onmouseover=TEXT_ATTRIBUTION(this,event,0) onmouseout=TEXT_ATTRIBUTION(this,event,1) onchange=TEXT_ATTRIBUTION(this,event,2)><tbody>
<tr>
	<td>
<pre>
「李洪志」「的照片」：
<a href="master_Li_high.jpg" target=_blank>Photo_View_ORI</a>
<a href="master_Li_high_R90.jpg" target=_blank>Photo_View_R90</a>
<a href="master_Li_high_R180.jpg" target=_blank>Photo_View_R180</a>
<a href="master_Li_high_R270.jpg" target=_blank>Photo_View_R270</a>

「李洪志」「的照片」「有」「李洪志」「能量」
「李洪志」「的照片」「有」「真、善、忍法力」
「李洪志」「的照片」「有」「法輪功」「功力」

【每天都时不时，用电脑屏幕，用10分钟来近距离欣赏】：「李洪志」「的照片」，
【可以使人心清醒。很安全。】
按：
Ctrl & +	放大
Ctrl & -	缩小
Ctrl & 0	恢复原尺寸
F11			全屏

来源：
https://falundafa.org/images/master_Li_high.zip
https://gb.falundafa.org/photo.html
</pre>
	</td>
	<td>
		<table class="Photo_View_TextArea_Table" borderColor=#000000 cellSpacing=0 cellPadding=0 border=1 style="border-collapse:collapse;border-style:solid;border-width:1px;border-color:black;" onclick=Photo_View_Plus_Word(this,event,3)><tbody>
		<tr><td colspan=10><textarea class="TextArea_CLS"></textarea></td></tr>
		<tr><td><table borderColor=#000000 cellSpacing=0 cellPadding=0 border=0><tbody>
			<tr>
			<td><input type="button" class="Normal_Go_CLS" value="NGo" title="Normal_Go_CLS"></td>
			<td><input type="button" class="ST_Go_CLS" value="STGo" title="ST_Go_CLS"></td>
			<td><input type="text" class="ST_Time_VAL_CLS" value="300000" title="ST_Time_VAL_CLS" style="width:60px;"></td>
			<td><input type="button" class="URL_SUP_Random_CLS" value="RN" title="URL_SUP_Random_CLS : Random Number ."></td>
			<td><input type="button" class="URL_SUP_Date_CLS" value="Date" title="URL_SUP_Date_CLS"></td>
			<td><input type="button" class="URL_SEL_HTML_CLS" value="HTML" title="URL_SEL_HTML_CLS"></td>
			<td><input type="button" class="URL_SEL_R000_CLS" value="R000" title="URL_SEL_R000_CLS"></td>
			<td><input type="button" class="URL_SEL_R090_CLS" value="R090" title="URL_SEL_R090_CLS"></td>
			<td><input type="button" class="URL_SEL_R180_CLS" value="R180" title="URL_SEL_R180_CLS"></td>
			<td><input type="button" class="URL_SEL_R270_CLS" value="R270" title="URL_SEL_R270_CLS"></td>
			<td><input type="button" class="URL_SEL_ALL_CLS" value="ALL" title="URL_SEL_ALL_CLS"></td>
			<td><input type="button" class="Single_Multi_Line_CLS" value="M" title="Single_Multi_Line_CLS"></td>
			<td><input type="button" class="Close_ALL_Window_CLS" value="C" title="Close_ALL_Window_CLS"></td>
			</tr>
		</tbody></table></td></tr>
		</tbody></table>
	</td>
</tr>
</tbody></table>

<script type="text/javascript">
var Initiation_Flag=0;

function Initiation()
{
	//==========DIVISION==========
	//console___log("function now is : Initiation()");
	//==========DIVISION==========
	if ( Initiation_Flag==1 )
	{
		document.getElementsByTagName("body")[0].setAttribute("onmouseover","");
		return;
	}
	//var i,j,ele00,INI_Flag;
	var INI_Flag;
	eval(Parameter_Base_STR_ijk_XX(5));
	//==========DIVISION==========
	Photo_View_TextArea_Table_INI();
	//==========DIVISION==========
	INI_Flag=0;
	//==========DIVISION==========
}
Initiation();
</script>

</body>

</html>
