<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<style type="text/css">
*
{
	margin:					0px;
	padding:				0px;
}

img
{
	transform:				rotateY(180deg);
	width:					120%;
	position:				relative;
	top:					-550px;
	left:					-150px;
}

body,div
{
	text-align:				center;
	overflow:				hidden;
}
</style>
<title>master_Li_high</title>
</head>

<body bgcolor=#CCE8CF>
<div>
<img src="master_Li_high.jpg">
</div>



</body>

</html>
